
<div ng-controller="AddExpiryDateCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">New expiry date for "{{product.Name}}"</h3>
            <div class="btn-group pull-right">
                <button class="btn btn-danger" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                    Cancel
                </button>
                <button class="btn btn-success" ng-click="save(expiryDate)">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Already defined</h3>
                    </div>

                    <ol class="list-group" ng-repeat="productExpiryDate in currentExpiryDates">
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">{{productExpiryDate.DueDate | date:'dd/MM/yyyy'}}</h4>
                        </li>
                    </ol>
                </div>
                <!--<div ng-repeat="productExpiryDate in currentExpiryDates">
                    <p class="list-group-item-text">{{productExpiryDate.DueDate | date:'dd/MM/yyyy'}}</p>
                </div>-->
            </div>
        </div>
        <div class="modal-body">
            <div class="col-xs-12">
                <h4>Select new expiry date</h4>
                <datetimepicker data-ng-model="expiryDate.dueDate"
                                data-datetimepicker-config="{ dropdownSelector: '#expiryDateDropdown', startView: 'year', minView: 'day' }">
                </datetimepicker>
                <h4>
                    Selected date:
                    <b>
                        {{expiryDate.dueDate | date:'dd/MM/yyyy'}}
                    </b>
                </h4>
            </div>
            <div class="panel-footer clearfix">
                <div class="btn-group pull-right">
                    <button class="btn btn-danger" ng-click="cancel()">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                    <button class="btn btn-success" ng-click="save(expiryDate)">
                        <i class="fa fa-check"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>