<style type="text/css">
    .bootcards-summary-item {
        display: block;
    }

        .bootcards-summary-item .image {
            text-align: center;
        }
</style>
<div ng-controller="ProductCtrl">
    <!--<h1>Products</h1>
    <div ng-repeat="product in products | orderBy:['-Name']">
        <a ng-href="/#!/expiry-date/{{product.Id}}">
            <h3>{{product.Name}}</h3>
        </a>
    </div>-->
    <!--<div class="panel panel-default bootcards-summary">
        <div class="panel-heading">
            <h3 class="panel-title">Summary Card Heading</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <a class="bootcards-summary-item" href="#">
                        <i class="fa fa-3x fa-users"></i>
                        <h4>Contacts <span class="label label-info">432</span></h4>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <a class="bootcards-summary-item" href="#">
                        <i class="fa fa-3x fa-building-o"></i>
                        <h4>Companies <span class="label label-info">98</span></h4>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <a class="bootcards-summary-item" href="#">
                        <i class="fa fa-3x fa-clipboard"></i>
                        <h4>Notes <span class="label label-danger">54</span></h4>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <a class="bootcards-summary-item" href="#">
                        <i class="fa fa-3x fa-files-o"></i>
                        <h4>Files <span class="label label-info">65</span></h4>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <a class="bootcards-summary-item" href="#">
                        <i class="fa fa-3x fa-check-square-o"></i>
                        <h4>Tasks <span class="label label-warning">109</span></h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <small>Built with Bootcards - Summary Card</small>
        </div>
    </div>-->


    <div class="panel panel-default bootcards-summary">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Products</h3>
        </div>
        <div class="panel-body">
            <div class="search-form">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="form-group">
                            <input type="text" ng-model="search.Name" class="form-control" placeholder="Search Products...">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-primary btn-block" ng-href="/#!/products/add">
                            <i class="fa fa-plus"></i>
                            <span>Add</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4" ng-repeat="product in products | filter:search">
                    <a class="bootcards-summary-item" ng-href="/#!/add-expiry-date/{{product.Id}}">
                        <div class="image">
                            <img ng-src="{{product.ImgSrc}}" height="60" />
                        </div>
                        <!--<i class="fa fa-3x fa-users"></i>-->
                        <h5>{{product.Name}}<span class="label label-info"></span></h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
